/* basic styles */
html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
}
body { 
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

*, *::before, *::after{
    box-sizing:inherit;}

    img, video{
        width: 100%; 
        height: auto;
        display: block;
        padding-bottom: 1rem;
    }
    /* Begin Header Navbar Styles */
    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        line-height: 1rem;
        overflow: hidden;
        background-color: rgb(201, 69, 69);
    }