*, *::before, *::after{
    box-sizing:inherit;
}
html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
}

h1 {color: rgb(255, 255, 255); background-color: rgb(153, 46, 46);
    font-size: 3rem;
    line-height: 3rem;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   /* letter-spacing: 0.2rem;*/
    word-spacing: 0.3rem;
}
.box {
    background-color: yellow;
    width: 300px;
    padding: 30px;
    border: 20px solid red;
    margin: 30px;
    box-sizing: content-box
}
.standard-box {
    box-sizing: content-box
}

.border-box {
    padding: 10px 20px 30px 20px
}